@media screen and (max-width:576px){

    
    .nav-title h1{
        font-size: 1.5rem;
    }


    .navbar{
        flex-direction: column;
        margin-left: 30px;
    }

    .nav-anchor
    
    {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin-left: 30px;
        gap: 10px;
        
    }
    .banner-field{
        display: flex;
        width: 287px;
        padding: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
       margin: 0 auto;
    }
    .banner-section{
        width: 100%;
        height: 100%;
    }
    
    .input-type{
        width: 255px;
        height: 52px;
        border-radius: 8px;
        background: #FFF;


       
    }
    .primary-btn{
        width: 255px;
        height: 52px;
        border-radius: 8px;
        background: #FF5400;
      

    }

    .popular-tour{
       flex-direction: column;
    }
    .tour-description h1{
        font-size: 1.2rem;
        margin-left: 20px;
        
    }
    .tour-description p{
        width: 340px;
        text-align:justify;
        margin-left: 20px;
    }
    .tour-description ul, li{
        width: 340px;
        text-align:justify;
        margin-left: 30px;


    }

    .tour-img img{
        width: 335px;
        height: 342px;
        flex-shrink: 0;
        margin-left: 40px;
        margin-right: 40px;

    }
    .choose-title p{
        
        margin-left: 20px;
        margin-right: 20px;
    }
    .hotel-descripton
   
   
    {
        width: 380px;
        height: 289px;
        flex-shrink: 0;
    
    border-radius: 16px;
    margin: 0 auto;
   
    
    }
    .best-price,
    .hotel-service{
        width: 380px;
        height: 350px;
        margin-bottom: 24px;
        margin:0 auto;
    }
    .hotel-service{
        margin-bottom: 24PX;
    }

    
    .choose-card{

        flex-direction: column;
    }

    .img-flex1{
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 16px;
        margin: 0 auto;
        margin-bottom: 16px;
    }
    .img-flex2{
        flex-direction: column;
        flex-wrap: nowrap;
        gap:16px;
        margin: 0 auto;
        margin-bottom: 16px;
    }
    .img-flex3{
        flex-direction: column;
        flex-wrap: nowrap;
        gap:16px;
        margin: 0 auto;
        margin-bottom: 16px;
    }
   .img1 img{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
  
   }
   .img2 img{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    margin-bottom: 16px;
    padding-bottom:16px ;
  
   }
   .img3 img{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    margin-bottom: 16px;
  
   }
   .img4 img{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    margin-bottom: 16px;
  
   }
   .img5 img{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    margin-bottom: 16px;
  
   }
   .img6 img{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    margin-bottom: 16px;
    margin-bottom: 16px;
  
   }
   .img7 img{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    margin-bottom: 16px;
  
   }
    
    .place-div{
       flex-direction: column;
    }
    .travel-video{
        margin: 0 auto;
    }
    .video{
        width: 335px;
       height: 200px;

    }
    .deals-discount p{
        width: 309px;
      margin: 0 auto;
    }

    .deals-icon1{
        width: 303px;
        height: 420px;
        flex-shrink: 0;
        margin: 16px;
        margin-bottom: 16px;
        margin-bottom: 16px;
    } 
    
    .deals-icon2{
        width: 303px;
        height: 420px;
        flex-shrink: 0;
        margin: 16px;
        margin-bottom: 16px;
        margin-bottom: 16px;
    } 
    .icon-heading{

        color: #131318;

       font-size: 20px;
       font-style: normal;
       font-weight: 800;
       line-height: normal;
         margin-top: 12px;
    }

    .icon-para{
        
        color: #5A5A5D;
        
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-top:12px;
        margin-bottom: 12px;
    
    }
    .icon-price{
        color: #FF5400;
    
    font-size: 1rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    }
    .icon-btn{
        width: 130px;
       height: 40px;
      flex-shrink: 0;
    }
    .background-deals1{
        width: 335px;
        height: 500px;
        flex-shrink: 0;
    }
    .perfect-place h1{
       
    font-size: 1.5rem;
    width: 248px;
    margin-left: 10PX;
}

.perfect-place P{
    margin-left: 10px;
}
.style-btn{
    margin-bottom: 21px;
    margin-left: 10px;
}
.news-div{
   flex-direction: column;
}
.login-form{
    width: 335px;
height: 400px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid #FF5400;
margin: 0 auto;
}
.login-text{
    width: 288px;
    height: 52px;
flex-shrink: 0;
}
.login-email{
    width: 288px;
    height: 52px;
flex-shrink: 0;
}
.login-btn{
    width: 288px;
height: 52px;
flex-shrink: 0;
}
.login-form p{
    color: #5A5A5D;
font-size: 1rem;
width: 270px;
}
.news-img img{
    width: 335px;
    height: 300px;
    border-radius: 16px;
    margin-left: 40px;
    margin-right: 40px;

}






    .footer-para p{
        margin-left: 10px;
        margin-right: 10px;
    }
    hr{
        margin-left: 20px;
        margin-right: 10px;
        width: 340px;
    }
    

    

}
   
